// Responsive Area
@media (max-width: 1799px) {
	.features-second {
		background-size: auto, 40%;
	}
	.banner-section.index-5 .overlay {
		background-size: 90%;
		background-color: #1b1d4d;
		.banner-content{
			padding: 248px 0 270px;
		}
	}
	.winning-more::before{
		width: 100%;
		left: 0;
	}
}

@media (max-width: 1699px) {
	.banner-section.index-4 .overlay {
		background-size: 25%, 25%, cover;
	}
}
@media (max-width: 1599px) {
	.banner-section.index-3 .overlay {
		background-position: bottom, right 25px bottom, left bottom;
		background-size: auto, 45%, cover;
		.banner-content {
			padding: 240px 0 130px;
		}
	}
}
@media (max-width: 1499px) {
	.banner-section.index-5 .overlay .shape-area {
		display: none;
	}
	.banner-section .overlay .banner-content{
		padding: 140px 0 180px;
	}
	.banner-section.inner-banner .overlay .banner-content{
		padding: 210px 0 110px;
	}
	.banner-section.inner-banner.blog-single .banner-content {
		padding: 250px 0 330px;
	}
	.banner-section.inner-banner.coaching-details .banner-content {
		padding: 195px 0 270px;
	}
	.banner-section.inner-banner.contact .banner-content {
		padding: 195px 0 204px;
	}
	.banner-section.inner-banner.dashboard .banner-content {
		padding: 195px 0 204px;
	}
	.banner-section.inner-banner.gift-card-details .banner-content {
		padding: 195px 0 204px;
	}
	.banner-section.index-2 .overlay {
		background-position: right 90px bottom, left bottom, top;
		background-size: 35%, contain, cover;
		.banner-content{
			padding: 180px 0 120px;
		}
	}
	.banner-section .overlay .banner-content .sec-image img{
		max-width: 100%;
	}
	.banner-section.shop.inner-banner .banner-content {
		padding: 176px 0 218px;
	}








}

@media (max-width: 1399px) {
	.banner-section.index-3 .overlay .banner-content {
		padding: 180px 0 90px;
	}
	.banner-section.index-4 .overlay .banner-content {
		padding: 240px 0 280px;
	}
	.banner-section.inner-banner.dashboard .banner-content {
		padding: 195px 0 204px;
	}
	.call-to-action .main-content::before {
		height: 95%;
	}
	.communtiy.second .main-content .bg-area img{
		max-width: 100%;
	}
	.communtiy.second .main-content .community-item {
		.item-6 {
			left: 35%;
			width: 30%;
		}
		.item-5 {
			right: 5%;
		}
		img{
			width: 20%;
		}
	}
	.communtiy.index-5 .main-content {
		.bg-area{
			text-align: center;
		}
		.community-item {
			.item-6 {
				left: 37%;
				width: 23%;
			}
			img{
				width: 12%;
			}
			.item-5 {
				right: 25%;
			}
		}
	}
	.communtiy .feature .border-area::before {
		left: calc(0% - 85px);
	}
	.communtiy .feature .border-area::after {
		right: calc(0% - 85px);
	}
	.blog-section.details .blog-details-content .best-league ul li::before {
		top: 10px;
	}
	.blog-section .single-side {
		padding: 30px 20px;
	}
	.shop-cart-section table {
		width: 115%;
	}
	.shop-cart-section .shop-cart-head {
		display: grid;
	}
	.coaching-details-section .sidebar-area{
		margin-top: 40px;
	}
	.how-works.sidebar .magnific-area .bg-area,
	.how-works.sidebar .magnific-area .bg-item{
		width: 100%;
	}
	.how-works.sidebar .magnific-area .mfp-iframe {
		width: 5%;
	}
	.coaching-section .single-item.list .top-area{
		width: 45%;
	}
	.coaching-section.coaches .single-item.list .top-area {
		width: 75%;
	}
	.coaching-section .single-item .coaches-area ul {
		flex-wrap: wrap;
		gap: 10px;
		margin: 15px 0;
	}
	.dashboard-section table{
		width: 120%;
	}
	.coaching-details-section .author-content .top-area{
		flex-wrap: wrap;
		gap: 20px;
	}










}

@media (max-width: 1199px) {
	h1, h1>a {
		font-size: 57px;
		line-height: 74.1px;
		margin-top: -16px;
	}
	h2, h2>a {
		font-size: 43px;
		line-height: 55.9px;
		margin-top: -10px;
	}
	.preloader {
		background-size: 30%;
	}
	.header-section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link, 
	.header-section .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-item {
		font-size: 16px;
	}
	.banner-section .overlay .banner-content {
		padding: 180px 0 220px;
	}
	.banner-section.inner-banner .overlay .banner-content {
		padding: 190px 0 80px;
	}
	.banner-section.inner-banner.blog-single .banner-content {
		padding: 215px 0 300px;
	}
	.banner-section.inner-banner.coaching-details .banner-content {
		padding: 170px 0 240px;
	}
	.banner-section.inner-banner.contact .banner-content {
		padding: 195px 0 204px;
	}
	.banner-section.inner-banner.dashboard .banner-content {
		padding: 195px 0 204px;
	}
	.banner-section.inner-banner.gift-card-details .banner-content {
		padding: 195px 0 204px;
	}
	.banner-section.shop.inner-banner .banner-content {
		padding: 176px 0 218px;
	}
	.banner-section.coaching-details .overlay {
		background-image: url(../images/coaching-details-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.how-works .mid::before {
		left: calc(-15% - 10px);
	}
	.how-works.index-2 .magnific-area {
		margin-left: 0;
		margin-top: 40px;
	}
	.how-works.index-2{
		background-image: unset;
		.overlay {
			padding: 0;
		}
	}
	.call-to-action {
		overflow-x: initial;
		.main-content::before {
			width: 108%;
			left: -5%;
			height: 100%;
		}
	}
	.choose-us .res-mar{
		margin-top: 70px;
	}
	.banner-section.index-5 .overlay{
		background-image: none;
	}
	.banner-section.index-5 .overlay .banner-content {
		padding: 180px 0 240px;
	}
	.communtiy .feature .border-area::before {
		left: calc(0% - 40px);
	}
	.communtiy .feature .border-area::after {
		right: calc(0% - 40px);
	}
	.shop-cart-section table {
		width: 155%;
	}
	.coaching-details-section .tab-content .info-tab-items ul {
		padding: 20px;
	}
	.coaching-section .all-items .single-item {
		flex: 0 0 calc(100% / 1 - 15px);
		max-width: calc(100% / 1 - 15px);
	}
	.coaching-section .single-item.list .top-area,
	.coaching-section .single-item.list .thumb img,
	.coaching-section .single-item .thumb img{
		width: 100%;
	}
	.coaching-section .all-items .single-item.list {
		display: block;
	}
	.banner-section.coaching .shape-area{
		display: none;
	}
	.banner-section.coaching .overlay {
		background-position: right 85px bottom -80px, center;
	}
	.banner-section.coaching-details .overlay{
		background-position: center;
	}
	.coaching-section.coaches .single-item.list .top-area {
		width: 100%;
	}
	.dashboard-section table {
		width: 140%;
	}
	.dashboard-section .single-box span:nth-child(2) {
		padding: 0 15px;
	}
	.dashboard-section .single-radio {
		padding: 10px 15px;
	}
	.winning-more .cus-mar{
		margin-bottom: -30px;
	}
	.winning-more .single-info {
		margin-bottom: 30px;
	}
	.gift-card .slick-current img {
		transform: scale(1);
	}
	.card-preview ul li h4 {
		padding: 26px 50px;
	}
	.coaching-section.shop .single-item .thumb img {
		width: initial;
	}
	.shop-content .review-box .add-review .star-head {
		padding: 20px;
		padding-top: 10px;
		padding-left: 0;
	}
	.shop-content .review-box {
		border: 1px solid #353953;
		border-radius: 10px;
		padding: 40px 30px;
	}
	.coaching-details-section.seller .nav .nav-link#courses-tab::after,
	.coaching-details-section.seller .nav .nav-link#courses-tab::before{
		display: none;
	}
	.coaching-details-section.seller .reviews-area .head-area{
		flex-wrap: wrap;
		gap: 15px;
	}
	.coaching-details-section.seller .review-details {
		flex-wrap: wrap;
		padding: 20px;
	}
	.coaching-details-section.seller .review-details .right-area {
		width: 70%;
		margin-left: 0;
		margin-top: 40px;
	}
	.coaching-details-section.seller .content-area .bottom {
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 10px;
	}
	.coaching-details-section.seller .content-area .info-bottom {
		flex-wrap: wrap;
		gap: 10px;
	}









}

@media (max-width: 991px) {
	// Normalize
	h1, h1>a {
		font-size: 57px;
		line-height: 68.4px;
		margin-top: -16px;
	}
	
	h2, h2>a {
		font-size: 43px;
		line-height: 51.6px;
		margin-top: -10px;
	}
	
	h3, h3>a {
		font-size: 32px;
		line-height: 38.4px;
		margin-top: -8px;
	}
	
	h4, h4>a {
		font-size: 24px;
		line-height: 28px;
		margin-top: -6px;
	}
	
	h5, h5>a {
		font-size: 18px;
		line-height: 22px;
		margin-top: -4px;
	}
	
	h6, h6>a, table thead tr th, button, a, p, span, li {
		font-size: 16px;
		line-height: 22px;
	}
	
	.section-header {
		margin-bottom: 40px;
	}
	
	.title {
		margin-bottom: 20px;
	}
	
	.xxxlr {
		font-size: 24px;
		line-height: 28px;
		margin-top: -6px;
	}
	
	.xxlr{
		font-size: 20px;
		line-height: 28px;
	}
	.xlr{
		font-size: 18px;
		line-height: 25.5px;
	}
	.cmn-btn{
		[class*='icon-']:before{
			line-height: 1;
		}
	}

	// Header Responsive
	.header-section {
		background-color: #1b1d4d;
	}
	.header-section .navbar-toggler {
		display: inline-block;
	}
    .header-section .navbar .navbar-brand {
		margin-top: -5px;
		width: 35%;
	}
	.header-section .navbar .navbar-brand img {
		max-width: initial;
	}
	.header-section .navbar .navbar-collapse .navbar-nav {
		height: 200px;
		margin: 20px 0;
    	overflow-y: auto;
		margin-bottom: 10px;
	}
	.header-section .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropend .dropdown-menu {
		left: 60px;
	}
	.header-section .nav-item.main-navbar .main-menu .sub-navbar .sub-menu{
		right: 0;
	}
	.header-section .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show {
		display: inline-block;
		margin-left: 130px;
	}
	.header-section .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
		display: none;
	}
	.header-section .navbar .navbar-collapse .navbar-nav .nav-item{
		padding: 8px 0;
	}
	.header-section .nav-item.dropdown .dropdown-menu {
		position: initial;
	}
	.header-section .navbar .navbar-collapse .right-area .lang{
		display: none !important;
	}
	.header-section .navbar .navbar-collapse .right-area{
		margin-left: 0;
	}
	// End Header

	.banner-section .overlay .banner-content .sec-image img{
		display: none;
	}
	.about-us .sec-image{
		margin-top: 30px;
		text-align: center;
		img{
			width: 60%;
		}
	}
	.call-to-action .main-content::before{
		display: none;
	}
	.features .mt-60{
		margin-top: 0;
	}
	.how-works .thumb img{
		max-width: 70%;
	}
	.how-works .mid::before, .how-works .mid::after {
		background-size: 60%;
	}
	.how-works .mid::after {
		right: calc(-10% - 50px);
	}
	.how-works .thumb span {
		width: 50px;
		height: 50px;
	}
	.communtiy .community-item {
		margin-top: 40px;
		.item{
			position: unset;
			width: 100px;
			height: 100px;
			margin: 15px 15px 15px;
		}
	}
	.call-action .sec-image {
		text-align: center;
	}
	.footer-section .language{
		margin-bottom: 30px;
	}
	.footer-section .newsletter{
		background-image: unset;
		padding: 60px 40px;
	}
	.banner-section.index-3 .overlay {
		background-image: url(../images/index-3-overlay.png);
		background-size: 100% 185%;
		background-position: top;
	}
	.banner-section.index-2 .overlay {
		background-image: url(../images/index-2-overlay.png);
		background-size: cover;
		background-position: center;
	}
	.banner-section.index-4 .overlay {
		background-image: url(../images/index-4-overlay.png);
		.banner-content {
			padding: 180px 0 280px;
		}
	}
	.banner-section.coaching .overlay {
		background-image: url(../images/banner-coaching-bg.png);
		background-size: auto;
		background-position: center;
	}
	.banner-section.coaching-details .overlay {
		background-image: url(../images/coaching-details-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.banner-section.index-2 .overlay .banner-content {
		padding: 160px 0 80px;
	}
	.join-now .sec-img{
		width: 60%;
		margin: auto;
		margin-top: 40px;
	}
	.how-works.index-2 .thumb {
		width: 25%;
		img{
			max-width: 100%;
		}
	}
	.communtiy.index-2 .community-item{
		margin: 0;
	}
	.top-coches .single-item .social a{
		line-height: 30px;
	}
	.communtiy.second .main-content .bg-area img{
		display: none;
	}
	.communtiy.second .main-content .community-item .item-6,
	.communtiy.second .main-content .community-item img{
		width: unset;
	}
	.features-second {
		background-image: url(../images/features-second-bg.png);
		background-repeat: no-repeat;
		background-position: top;
	}
	.how-works.index-3 .sec-image {
		text-align: center;
		img{
			width: 70%;
			margin-top: 40px;
		}
	}
	.how-works.second{
		.popup-area{
			padding: 120px 0;
		}
	}
	.choose-us .single-item {
		padding: 40px 20px;
	}
	.communtiy .feature .border-area::before,
	.communtiy .feature .border-area::after{
		display: none;
	}
	.blog-section.details .blog-details-content .best-league ul li::before {
		top: 5px;
	}
	.blog-section .blog-sidebar{
		margin-top: 30px;
	}
	.coaching-details-second .head-items {
		display: grid;
		.right-profile{
			margin-top: 40px;
		}
	}
	.coaching-details-second .content-area .time-info{
		margin-top: 40px;
	}
	.coaching-details-second .ui-datepicker{
		margin-bottom: 40px;
	}
	.coaching-details-second .ui-datepicker .ui-datepicker-next {
		top: 10px;
		right: 40px;
	}
	.coaching-details-second .head-items .left-profile {
		display: grid;
		gap: 30px;
	}
	.coaching-details-second .head-items .left-profile .text-area {
		margin-left: 0;
	}
	.shop-cart-section .right-sidebar{
		margin-top: 40px;
	}
	.shop-cart-section table {
		width: 110%;
	}
	.coaching-details-section .author-content .profile-info .top-area{
		display: grid !important;
		.name-area{
			margin-bottom: 30px;
		}
	}
	.coaching-details-section .review-details {
		display: grid;
	}
	.coaching-details-section .nav li .nav-link{
		margin-bottom: 15px;
	}
	.coaching-details-section .author-content .bottom-area .coach-since {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
	.coaching-details-section .author-content .bottom-area .coach-since .single-since::after{
		display: none;
	}
	.coaching-details-section .tab-content .info-tab-items ul li span:first-child {
		min-width: 35%;
	}
	.coaching-details-section .review-details .right-area{
		margin: 0;
		margin-top: 40px;
		width: 55%;
	}
	.coaching-section .grid-list-head{
		margin-top: 40px;
	}
	.filter-option .single-item {
		position: initial;
	}
	.filter-option .budget-content {
		left: 0;
		right: 0;
	}
	.filter-option .switch span {
		right: -110px;
		top: 7px;
	}
	.contact-section .social {
		margin-bottom: 40px;
	}
	.dashboard-section .row > .cus-mar{
		margin: 0;
	}
	.contact-area .sec-image{
		margin-top: 30px;
	}
	.winning-features .carousel-area.active{
		margin-top: 30px;
	}
	.card-preview .sidebar-area{
		margin-bottom: 40px;
	}
	.call-action-third .main-content {
		background-position: left;
		background-size: 200%;
	}
	.shop-content .right-item{
		margin-top: 30px;
	}
	.coaching-details-section .content-area .reviews-left {
		flex-wrap: wrap;
		gap: 15px;
	}
	.shop-content .review-box .add-review .star-head {
		display: grid;
		flex-wrap: wrap;
		padding: 15px;
		padding-left: 0;
	}
	.shop-content .review-box .add-review .star-head .star-area {
		border: none;
		margin-left: 0;
		padding-left: 0;
	}
	.coaching-details-section .author-content .profile-info .top-area .review-vote{
		flex-wrap: wrap;
		gap: 15px;
	}
	.coaching-details-section.seller .sidebar-item {
		margin-bottom: 30px;
	}



}

@media (max-width: 767px) {
	// .banner-section.about-us .overlay .banner-content,
	// .banner-section .overlay .banner-content {
	// 	padding: 200px 0 190px;
	// }
	// .banner-section.corporate-card .overlay .banner-content,
	// .banner-section.payment.two .overlay .banner-content,
	// .banner-section.corporate-card.subscriptions .overlay .banner-content,
	// .banner-section.payment .overlay .banner-content,
	// .banner-section.corporate-card.budgeting-analytics .overlay .banner-content {
	// 	padding: 170px 0 70px;
	// }
	// .banner-section.corporate-card .overlay,
	// .banner-section.corporate-card.subscriptions .overlay,
	// .banner-section.corporate-card.expense .overlay,
	// .banner-section.corporate-card.budgeting-analytics .overlay{
	// 	background-image: unset;
	// }
	.banner-section.inner-banner.blog-single .banner-content {
		padding: 190px 0 270px;
	}
	.how-works .mid::before, .how-works .mid::after{
		display: none;
	}
	.how-works .magnific-area .mfp-iframe::after {
		width: 100px;
		height: 100px;
	}
	.how-works .magnific-area .mfp-iframe::before {
		width: 140px;
		height: 140px;
	}
	.how-works.index-2 .thumb {
		span {
			width: 30px;
			height: 30px;
		}
	}
	.communtiy.index-5 .feature {
		flex-wrap: wrap!important;
		margin-bottom: -30px;
		.single-feature{
			margin-bottom: 30px;
		}
	}
	.blog-section .single-side > .icon-area img {
		max-width: 35%;
	}
	.blog-section.details .bottom-item {
		margin-top: -120px;
	}
	.shop-cart-section table {
		width: 145%;
	}
	.coaching-details-section .author-content .profile-info .review-vote{
		display: grid !important;
	}
	.coaching-details-section .author-content .profile-info .location{
		margin: 0;
		padding: 0;
		border: none;
	}
	.coaching-details-section .content-area .bottom{
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 10px;
	}
	.coaching-section .single-item .thumb img{
		width: 100%;
	}
	.coaching-details-section .tab-content .info-tab-items ul li span:first-child {
		min-width: 50%;
	}
	.coaching-details-section .content-area .info-bottom {
		flex-wrap: wrap;
		gap: 10px;
	}
	.coaching-details-section .review-details .right-area {
		width: 75%;
	}
	.coaching-details-section .reviews-area .head-area{
		display: grid !important;
		gap: 20px;
	}
	.coaching-details-section.coaches .coaches-area ul, .coaching-details-section.coaches .lesson-plan ul {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
	}
	.coaching-details-section.coaches .lesson-plan .lesson-single {
		display: grid !important;
		gap: 20px;
	}
	.filter-option .main-area {
		width: 100%;
		left: 0;
	}
	.filter-option .main-area {
		top: 130px;
	}
	.dashboard-section .single-content .head-area {
		display: grid !important;
	}
	.dashboard-section .head-area {
		h5{
			margin-bottom: 20px;
		}
		li {
			margin-left: 0;
			margin-right: 15px;
		}
	}
	.dashboard-section .nice-select{
		margin: 0;
	}
	.dashboard-section table {
		width: 180%;
	}
	.dashboard-section .single-box li{
		display: flex;
		margin-bottom: 10px;
		span:first-child {
			min-width: 100px;
		}
	}
	.dashboard-section .radio-area {
		display: flex;
		flex-wrap: wrap;
	}
	.dashboard-section .radio-area .radio-style {
		width: 45%;
	}
	.card-preview ul li h4 {
		padding: 20px 40px;
	}
	.login-reg .checkbox-single .item-title {
		flex-wrap: wrap;
	}




}

@media (max-width: 575px) {
    h1, h1>a {
        font-size: 40px;
        line-height: 46px;
		margin-top: -9px;
    }
    h2, h2>a {
        font-size: 30px;
        line-height: 36px;
		margin-top: -7px;
    }
    h3, h3>a {
        font-size: 24px;
        line-height: 28px;
		margin-top: -6px;
    }
    h4, h4>a {
        font-size: 18px;
        line-height: 22px;
		margin-top: -4px;
    }
	a, p, span, li, .cmn-btn, thead tr th, tbody tr th, tbody tr td, input, label, textarea, h6, h6>a{
		font-size: 15px;
        line-height: 19px;
    }
	.section-header {
		margin-bottom: 35px;
	}
	.title {
		margin-bottom: 15px;
	}
	.xxxlr {
		font-size: 20px;
		line-height: 24px;
	}
	.xxlr {
		font-size: 18px;
		line-height: 25.5px;
	}
	.xlr {
		font-size: 16px;
		line-height: 22.4px;
	}
	.header-section .navbar {
		padding: 20px 15px;
	}
	.banner-section.about-us .overlay .banner-content,
	.banner-section .overlay .banner-content {
		padding: 170px 0 180px;
	}
	.banner-section.inner-banner .overlay .banner-content{
		padding: 170px 0 65px;
	}
	.banner-section.inner-banner.blog-single .banner-content {
		padding: 190px 0 270px;
	}
	.banner-section.inner-banner.coaching-details .banner-content {
		padding: 170px 0 240px;
	}
	.banner-section.shop.inner-banner .banner-content {
		padding: 176px 0 218px;
	}
	.banner-section.inner-banner.dashboard .banner-content,
	.banner-section.inner-banner.contact .banner-content {
		padding: 170px 0 170px;
	}
	.footer-section .footer-area .menu-item {
		margin-bottom: 20px;
		li{
			margin: 0 10px !important;
		}
	}
	.footer-section .newsletter {
		padding: 40px 30px;
		form {
			width: 100%;
		}
	}
	.explore-now .single-area{
		padding: 40px 15px;
	}
	.top-coches .single-item .thumb {
		width: 30%;
		margin: auto;
		margin-bottom: 30px;
	}
	.features .feature-item .content-font, .features .feature-item .content-back {
		padding: 30px 15px;
	}
	.features-second .single-area {
		display: grid !important;
		padding: 15px;
	}
	.features-second .single-area .img-area img {
		max-width: 100px;
		margin-bottom: 20px;
	}
	.blog-section .single-side .items img{
		width: 100%;
	}
	.coaching-details-second .head-items ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -20px;
		li{
			margin-right: 15px;
			margin-bottom: 20px;
		}
	}
	.coaching-details-second .content-area .footer-area .right-item{
		margin-top: 20px;
	}
	.shop-cart-section table {
		width: 160%;
	}
	.coaching-details-section .author-content .profile-info .message-area{
		flex-wrap: wrap;
		justify-content: start !important;
		gap: 10px;
	}
	.coaching-details-section.coaches .description .feature-item li,
	.coaching-details-section.coaches .you-will-earn .single-earn {
		flex: 0 0 calc(100% / 1 - 15px);
		max-width: calc(100% / 1 - 15px);
	}
	.filter-option .filter-single {
		margin: 20px 0;
	}
	.filter-option .filter-single h2{
		text-align: center;
	}
	.filter-option form .single-area .col-sm-6,
	.filter-option .single-area .row > .col-sm-6{
		margin-bottom: 15px;
	}
	.contact-info .single-info .icon-area {
		width: 110px;
		height: 110px;
		img {
			max-width: 55%;
		}
	}
	.dashboard-section form .col-6 {
		width: 100% !important;
	}
	.games-call-action .slick-slide img{
		margin: auto;
	}
	.games-call-action .buy-card {
		margin-top: -120px;
	}
	.banner-section.inner-banner.gift-card-details .banner-content {
		padding: 195px 0 204px;
	}
	.card-preview .sidebar-area{
		img{
			width: 100%;
		}
	}
	.card-preview .coaching-details-second .radio-area .col-6{
		width: 100% !important;
	}
	.loyalty-program .single-program img{
		max-width: 35%;
	}



}

@media (max-width: 480px) {
	.footer-section .menu-item {
		display: grid;
		justify-content: center;
		text-align: center;
	}
	.faqs-section .accordion .accordion-item .accordion-button {
		padding: 15px 15px;
		padding-right: 70px;
	}
	.faqs-section .accordion .accordion-item .accordion-button::before {
		right: 20px;
		width: 30px;
		height: 30px;
	}
	.faqs-section .accordion .accordion-item .accordion-button::after{
		right: 25px;
	}
	.counter-section {
		padding: 0;
	}
	.counter-section .main-content{
		padding: 30px;
	}
	.coaching-details-second .content-area form .col-6,
	.footer-section .col-6,
	.features .col-6{
		width: 100% !important;
	}
	.preloader {
		background-size: 65%;
	}
	.cmn-btn {
		padding: 10px 12px;
	}
	.banner-section.index-3 .overlay .banner-content .bottom-area a,
	.banner-section.index-2 .overlay .banner-content .bottom-area a{
		margin-right: 15px;
	}
	.testomonial .single {
		display: grid;
		padding: 15px;
		.info-area {
			margin-left: initial;
			margin-top: 25px;
		}
		img{
			margin: auto;
		}
	}
	.communtiy.index-5 .feature {
		justify-content: center !important;
	}
	.blog-section.details .bottom-item {
		margin-top: -60px;
	}
	.blog-section.details .author-area {
		display: grid !important;
	}
	.blog-section.details .author-area .text-area {
		margin-left: 0;
		margin-top: 30px;
	}
	.blog-section .bottom-item {
		padding: 20px;
		width: 95%;
	}
	.pagination-area .previous span, .pagination-area .next span{
		display: none;
	}
	.pagination-area .page-link{
		margin: 0 5px;
	}
	.pagination-area .page-item:last-child .page-link, .pagination-area .page-item:first-child .page-link {
		padding: 7px 5px;
	}
	.blog-section .nav-tabs {
		padding: 10px;
	}
	.coaching-details-second .ui-datepicker .ui-state-default, .coaching-details-second .ui-datepicker .ui-widget-content .ui-state-default {
		width: 35px;
		height: 35px;
	}
	.coaching-details-second .content-area .footer-area {
		display: grid;
	}
	.shop-cart-section table {
		width: 200%;
	}
	.coaching-details-section .author-content .profile-area {
		padding: 30px;
		display: grid !important;
		gap: 30px;
	}
	.coaching-details-section .review-details .left-area li .line-bar {
		width: 200px;
	}
	.coaching-details-section .review-details {
		padding: 20px;
	}
	.coaching-details-section .review-details .right-area {
		width: 100%;
	}
	.filter-option {
		padding: 40px 0;
	}
	.dashboard-section table {
		width: 240%;
	}
	.dashboard-section .single-box {
		padding: 0;
		li {
			display: flex;
			flex-wrap: wrap;
			span:first-child{
				text-align: start;
			}
		}
		a{
			img{
				max-width: unset;
			}
		}
	}
	.dashboard-section .radio-area .radio-style {
		width: 100%;
	}
	.winning-features .base-area .carousel-area {
		width: initial;
		left: 10px;
		padding-top: 6px;
	}
	.winning-features .slider-area .head-img{
		display: none;
	}
	.winning-features .slider-area::before{
		height: 100%;
	}
	.winning-features .single-info img {
		margin-right: 15px;
	}
	.gift-card ul {
		flex-wrap: wrap;
		gap: 20px;
		justify-content: start;
		margin-top: 20px;
	}
	.gift-card .slick-track {
		padding-top: 0;
		padding-bottom: 0;
	}
	.winning-features .slider-area {
		padding: 0;
	}
	.card-preview ul {
		justify-content: start;
		gap: 20px;
		flex-wrap: wrap;
	}
	.banner-section.inner-banner.gift-card-details .banner-content {
		padding: 160px 0 190px;
	}
	.login-reg .remember-me {
		display: grid;
		gap: 20px;
		justify-content: start;
	}
	.login-reg .form-area {
		padding: 30px 20px;
	}
	.login-reg .select-area{
		display: grid !important;
	}
	.value-change{
		flex-wrap: wrap;
		gap: 15px;
	}
	.banner-section.shop.inner-banner .banner-content {
		padding: 165px 0 210px;
	}
	.coaching-details-section.seller .review-details .right-area {
		width: 100%;
	}
	.coaching-details-section.seller .review-details {
		padding: 8px;
	}

}

@media (max-width: 375px) {
	.choose-us .col-6,
	.filter-option .col-6,
	.about .col-6{
		width: 100% !important;
	}
	.banner-section .overlay .banner-content .main-content .form-group,
	.footer-section .newsletter form .form-group {
		position: relative;
		margin-bottom: 60px;
		text-align: center;
		justify-content: center;
		button{
			bottom: -60px;
			position: absolute;
		}
	}
	.banner-section .overlay .banner-content .send-money .nice-select .current::before{
		background-image: unset !important;
	}
	.shop-cart-section table {
		width: 250%;
	}
	.coaching-details-section {
		overflow-x: hidden;
		.content-head {
			display: grid !important;
			gap: 20px;
		}
	}
	.coaching-details-section .content-area {
		padding: 20px;
		display: grid !important;
		gap: 20px;
		.info-area{
			margin: 0;
		}
	}
	.coaching-details-section .review-details .left-area li .line-bar {
		width: 140px;
	}
	.coaching-details-section .review-details .right-area li {
		display: flex;
		flex-wrap: wrap;
	}
	.coaching-details-section .tags a {
		padding: 5px 10px;
	}
	.coaching-section .single-item .profile-area {
		margin: 0 10px;
	}
	.coaching-section .single-item .footer-area{
		flex-wrap: wrap;
		gap: 20px;
	}
	.base-area .carousel-area {
		padding: 25px 10px 70px 10px;
		width: 280px;
		left: 10px;
	}
	.coaching-section .single-item .profile-img {
		margin-right: 10px;
	}
	.contact-section form {
		padding: 20px;
	}
	.dashboard-section .single-content {
		padding: 15px;
	}
	.dashboard-section table {
		width: 270%;
	}
	.shop-content .shop-details-content .owl-item img {
		height: 65px;
	}
	.shop-content .right-item {
		margin-top: 15px;
	}
	.shop-content .review-box {
		padding: 20px 15px;
	}
	.shop-content .review-box .add-review {
		padding: 15px;
	}
	.coaching-details-section.seller .sidebar-item .sidebar-single {
		padding: 20px;
	}


}